<h1>Text#index</h1>
<p>Find me in app/views/text/index.html.erb</p>
<form action="search" method="post">
  <input type="file" />
  <label for="regex">Reference Format</label>
  <input id="regex" type="text" />
  <input type="submit" value="Submit">
</form>
